.board {
  display: grid;
  grid-template-columns: repeat(10, 42px);
  grid-template-rows: repeat(10, 42px);
}

.cell {
  width: 39px;
  height: 39px;
  /*background-color: #cce;*/
  background-color: #bad9e2;
  border: 1px solid #aaa;
  cursor: pointer;
}
.cellHitted {
  width: 39px;
  height: 39px;
  /*background-color: #cce;*/
  background-color: #bad9e2;
  border: 1px solid #aaa;
}
.cell.ship1, .cellHitted.ship1 {
  /*background-color: blue !important;*/
  background-image: url(../images/cellWithShip1.png) !important;
}
.cell.ship2, .cellHitted.ship2 {
  /*background-color: blue !important;*/
  background-image: url(../images/cellWithShip2.png) !important;
}
.cell.hit, .cellHitted.hit {
  background-image: url(../images/cellBack.png);
}
.app{
  /*display: flex;*/
  /*flex-direction: row;*/
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  color:white;
}

.divs{
  display: flex;
  flex-direction: row;
}

.boardDiv{
  margin-left: 20px;
  margin-bottom: 20px;
}

.shipDiv{
  margin-left: 20px;
}
.shipsHead1{
  color: #2488cf;
  font-size: 20px;
}
.shipsHead2{
  color: red;
  font-size: 20px;
}
.cell.next{
  /*background-color: red;*/
  background-image: url(../images/cellBack.png);
}

.startButton{
  margin-top: 100px;
}

.shipSkin{
  width: 41;
  height: 41;
  background-color: "#2488cf";
  /*backgroundImage: `url(${play1Image})`,*/
  border: 1px solid black;
}
            
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modalBack1{
  border: 5px solid #2488cf;
  color: #2488cf;
}
.modalBack2{
  border: 5px solid red;
  color: red;
}
.board3And4Div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.countImage{
    width: 60px;
    height: 70px;
    margin-right: -15px;
    margin-left: 5px;
}

.player1{
  font-size: 50px;
  color: #2488cf;
}
.player2{
  font-size: 50px;
  color: red;
}

.draggableCellStyle{
  width: 42;
  height: 42;
  border: 2px solid #1b4f74;
  background-color: "#EFEFEF";
}
.h1{
    font-size: 90px;
    color: #2488cf;
}

.rulesDiv1{
  background-color: #2488cf;
  font-size: 20px;
  padding: 20px;
  border: 5px  solid white;
  border-radius: 40px;
}

.rulesDiv2{
  background-color: red;
  font-size: 20px;
  padding: 20px;
  border: 5px  solid white;
  border-radius: 40px;
}

.readyButton1{
  color: white;
  background-color: #2488cf;
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.readyButton2{
  color: white;
  background-color: red;
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

