body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial;
    background-color: #0094FF;
    background-image: url(../src/images/background.png);
    
}
:root{
    --main-color: #ffa500;
    --main-color-hover: #e69500;
}
#root{
    max-width: 1920px;
    width: 100%;
    
}